<%- include('partials/head', {title: 'Destination'}) %>
<%- include('partials/navbar') %>
<body>
    <table border>
        <tr>
            <th>Location</th>
            <th>Price</th>
            <th>Transport</th>
            <th>Lodging</th>
            <th>Meals</th>
            <th>Photo</th>
            <th>Action</th>
        </tr>
        <tr>
            <td><%= data.location %> </td>
            <td><%= data.price %> </td>
            <td><%= data.transport %> </td>
            <td><%= data.lodging %> </td>
            <td><%= data.meals %> </td>
            <td><a href="/destinations/<%= data.location %> "><img src="<%= data.photo %>" alt="<%= data.location %> " border = 3 height = 100 width=100></a></td>
            <td><a href="/destinations/buy/<%= data.id %>/<%= data.location %>   " onclick="return confirm(`are you sure to buy ${data.location} ticket? `)">Add To Cart</a> </td>
        </tr>
    </table>
</body>
</html>